---
---
@charset 'utf-8';



@import url(//fonts.googleapis.com/css?family=Dosis:400,300|Inconsolata|Raleway:300);



$base-font-family:  'Raleway', sans-serif;
$base-font-weight:  300;
$base-font-size:    18px;
$base-line-height:  1.5;

$small-font-size:   $base-font-size * 0.875;
$small-line-height: $base-line-height * 0.875;

$heading-font-family: 'Dosis', sans-serif;
$heading-font-weight: 400;

$decorative-font-family: 'Dosis', sans-serif;
$decorative-font-weight: 300;

$mono-font-family: 'Inconsolata', monospace;
$mono-font-weight: 400;

$spacing-unit: 30px;

$grey:          #3f3636;
$dark-grey:     darken($grey, 6%);
$darkest-grey:  darken($grey, 11%);
$light-grey:    #787272;
$lightest-grey: #d8d7d7;

$white: #ffffff;

$dark-blue:     #60ada9;
$mid-blue:      #8fc5c3;
$light-blue:    #71d5d4;
$lightest-blue: #cfe6e5;

$red: #ea7062;

$text-colour:                $lightest-grey;
$heading-colour:             $light-blue;
$base-background-colour:     $darkest-grey;
$light-background-colour:    $dark-grey;
$lightest-background-colour: $grey;
$image-border-colour:        $grey;
$link-colour:                $light-blue;
$link-hover-colour:          $red;
$page-link-colour:           $light-blue;
$page-link-hover-colour:     $red;
$page-link-active-colour:    $white;
$post-title-colour:          $white;

$spinkit-spinner-color: $light-blue;

$on-palm:   600px;
$on-laptop: 800px;



// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin colour-with-glow($colour) {
  color: $colour;
  text-shadow: 0 0 5px rgba($colour, 0.5);
}

@mixin colour-without-glow($colour) {
  color: $colour;
  text-shadow: none;
}



@import
        'base',
        'layout',
        '../js/bower_components/spinkit/scss/spinners/3-wave',
        'animation',
        'syntax-highlighting'
;
