@keyframes fade-in-slide-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out-slide-out-down {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fade-in-slide-in-left {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out-slide-out-left {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in-background-colour {
  0% {
    background-color: $base-background-colour;
  }

  100% {
  }
}

@keyframes fade-out-background-colour {
  0% {
  }

  100% {
    background-color: $base-background-colour;
  }
}


.animated {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.animated--slow-fade-in-background-colour {
  animation-duration: 0.5s;
  transition-timing-function: linear;
}

.animation-scene,
.animation-scene--is-reversed.animation-scene--is-entering, {

  .animated {

    &.animated--fade-in-slide-in-up {
      animation-name: fade-in-slide-in-up;
    }

    &.animated--fade-in-slide-in-left {
      animation-name: fade-in-slide-in-left;
    }

    &.animated--slow-fade-in-background-colour {
      animation-name: fade-in-background-colour;
    }
  }
}

.animation-scene.animation-scene--is-exiting,
.animation-scene--is-reversed {

  .animated {

    &.animated--fade-in-slide-in-up {
      animation-name: fade-out-slide-out-down;
    }

    &.animated--fade-in-slide-in-left {
      animation-name: fade-out-slide-out-left;
    }

    &.animated--slow-fade-in-background-colour {
      animation-name: fade-out-background-colour;
    }
  }
}
