@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-slide-in-left {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out-slide-out-left {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}


.animated {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

.animation-scene,
.animation-scene--is-reversed.animation-scene--is-entering, {

  .animated {

    &.animated--fade-in {
      animation-name: fade-in;
    }

    &.animated--fade-in-slide-in-left {
      animation-name: fade-in-slide-in-left;
    }

    &.animated--delay-1 {
      animation-delay: 0.25s;
    }
  }
}

.animation-scene.animation-scene--is-exiting,
.animation-scene--is-reversed {

  .animated {

    &.animated--fade-in {
      animation-name: fade-out;
    }

    &.animated--fade-in-slide-in-left {
      animation-name: fade-out-slide-out-left;
    }
  }
}
