@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slide-in-right {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out-slide-out-right {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}



.animated {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;

  &.animated--fade-in {
    animation-name: fade-in;
  }

  &.animated--fade-in-slide-in-right {
    animation-name: fade-in-slide-in-right;
  }

  &.animated--delay-1 {
    animation-delay: 0.25s;
  }
}

.animation-scene.animation-scene--is-exiting .animated {
  animation-delay: 0s;

  &.animated--fade-in {
    animation-name: fade-out;
  }

  &.animated--fade-in-slide-in-right {
    animation-name: fade-out-slide-out-right;
  }
}
