/**
 * Site header
 */
.site-header {
  background-color: $lightest-background-colour;
  min-height: 60px;

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 1;
}

.site-title {
  float: left;

  svg {
    height: 76px;
    padding: 8px 0;
    vertical-align: middle;

    &:hover {
      .st0 {
        fill: $red;
      }
    }

    .st0 {
      transition: fill 0.25s;

      fill: $white;
    }

    .st1 {
      fill: $light-blue;
    }

    .st2 {
      fill: $dark-blue;
    }
  }
}

.site-nav {
  float: right;
  line-height: 22px;
  padding-top: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    font-family: $decorative-font-family;
    font-weight: $decorative-font-weight;
    font-size: 22px;

    &,
    &:visited {
      @include colour-without-glow($page-link-colour);
    }

    &:hover {
      @include colour-with-glow($page-link-hover-colour);
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 15px;
    }

    &:focus,
    &.page-link--active {

      &,
      &:hover {
        @include colour-without-glow($page-link-active-colour);
      }
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 16px;
    right: 16px;
    padding-top: 0;
    background-color: $base-background-colour;
    border: 1px solid $light-background-colour;
    border-radius: 5px;
    text-align: right;

    transition: border-color 0.25s, box-shadow 2s;

    &:hover {
      border-color: $red;
      box-shadow: 0 0 10px 2px $red;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 54px;
      height: 39px;
      line-height: 0;
      padding-top: 15px;
      text-align: center;

      > svg {
        width: 27px;
        height: 23px;

        path {
          fill: $page-link-colour;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      line-height: $base-line-height;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.contact-list {
  min-height: 49px;  // FIXME: Hack!
  list-style: none;
  margin-left: 0;
  text-align: center;

  li {
    display: inline;
  }
}

.copyright {
  font-size: $small-font-size;
  line-height: $small-line-height;
  text-align: center;

  @include colour-without-glow($light-grey);
}



/**
 * Page content
 */
.page-content {
  background-color: $light-background-colour;
  padding: $spacing-unit 0;

  overflow-x: hidden;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  text-align: center;
  font-size: $small-font-size;

  @include colour-without-glow($light-grey);
}

.post-link {
  display: block;
  font-size: 24px;
}

.store-list {
  text-align: center;

  img {
    border-radius: 5px;
    transition: box-shadow 2s;

    &:hover {
      box-shadow: 0 0 10px 2px $red;
    }
  }

  .store-button {
    position: relative;
    background-color: $base-background-colour;
    line-height: 1.8;
    padding: 5px 10px;
    border: 1px solid $image-border-colour;
    border-radius: 5px;
    user-select: none;

    transition: border-color 0.25s, box-shadow 2s;

    &:hover {
      border-color: $red;
      box-shadow: 0 0 10px 2px $red;
    }
  }
}

.tag-list {
  text-align: center;

  .tag {
    line-height: 1.8;
    padding: 3px 10px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 5px;
    user-select: none;

    &.tag--lang {
      border-color: $light-blue;
    }

    &.tag--framework {
      border-color: $dark-blue;
    }
  }
}

.project-list {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;

  .project-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 175px;
    height: 250px;
    margin: 5px;
    background-color: $darkest-grey;
    border: 1px solid $image-border-colour;
    border-radius: 5px;
    overflow: hidden;

    transition: background-color 0.25s, border-color 0.25s, box-shadow 2s;

    @include media-query($on-palm) {
      min-width: 160px;
      height: 220px;
    }

    &.project-list-item--no-image {
      flex-grow: 1;
    }

    &:hover {
      border-color: $red;
      box-shadow: 0 0 10px 2px $red;

      h3 {
        color: $red;
      }
    }

    img {
      height: 100%;
      max-width: none;
    }

    @media (hover:hover) {
      background-color: lighten($darkest-grey, 2%);

      &:hover {
        background-color: $darkest-grey;

        img {
          opacity: 1;
        }
      }

      img {
        opacity: 0.7;
        transform: translateZ(0);  // Fix for Chrome opacity transition bug.
        border-radius: 4px;  // Fix for the Chrome bug fix.

        transition: opacity 0.25s;
      }
    }
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include colour-without-glow($post-title-colour);

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  img {

    &:not(.no-border) {
      display: block;
      margin: auto;
      border: 1px solid $image-border-colour;
      border-radius: 5px;
    }

    &.headshot {
      float: right;
      border-radius: 5px;
      margin-left: 10px;
    }
  }
}



/**
 * Spinner
 */
.spinner-outer {
  display: none;
  position: fixed;
  top: 15%;
  width: 100%;

  .spinner-inner {
    width: 50px;  // Match the spinner width.
    margin: 0 auto;
  }
}
