$grey-0: #1d1f21;
$grey-1: #282a2e;
$grey-2: #373b41;
$grey-3: #969896;
$grey-4: #b4b7b4;
$grey-5: #c5c8c6;
$grey-6: #e0e0e0;
$grey-7: #ffffff;

$red:    #cc6666;
$orange: #de935f;
$yellow: #f0c674;
$green:  #b5bd68;
$aqua:   #8abeb7;
$blue:   #81a2be;
$purple: #b294bb;
$brown:  #a3685a;

/**
 * Syntax highlighting styles
 */
.highlight {
  @extend %vertical-rhythm;

  .c     { color: $grey-3; font-style: italic } // Comment
  .err   { color: $grey-1; background-color: $red } // Error
  .k     { color: $blue } // Keyword
  .o     { font-weight: bold } // Operator
  .cm    { color: $grey-3; font-style: italic } // Comment.Multiline
  .cp    { color: $grey-3; font-weight: bold } // Comment.Preproc
  .c1    { color: $grey-3; font-style: italic } // Comment.Single
  .cs    { color: $grey-3; font-weight: bold; font-style: italic } // Comment.Special
  .gd    { color: $grey-0; background-color: $red } // Generic.Deleted
  .gd .x { color: $grey-0; background-color: $red } // Generic.Deleted.Specific
  .ge    { font-style: italic } // Generic.Emph
  .gr    { color: $red } // Generic.Error
  .gh    { color: $grey-3 } // Generic.Heading
  .gi    { color: $grey-0; background-color: $green } // Generic.Inserted
  .gi .x { color: $grey-0; background-color: $green } // Generic.Inserted.Specific
  .go    { color: $grey-3 } // Generic.Output
  .gp    { color: $red } // Generic.Prompt
  .gs    { font-weight: bold } // Generic.Strong
  .gu    { color: $grey-3 } // Generic.Subheading
  .gt    { color: $red } // Generic.Traceback
  .kc    { color: $blue } // Keyword.Constant
  .kd    { color: $blue } // Keyword.Declaration
  .kn    { color: $blue }
  .kp    { color: $blue } // Keyword.Pseudo
  .kr    { color: $blue } // Keyword.Reserved
  .kt    { color: $blue; font-weight: bold } // Keyword.Type
  .m     { color: $orange } // Literal.Number
  .s     { color: $green } // Literal.String
  .na    { color: $yellow } // Name.Attribute
  .nb    { color: $orange } // Name.Builtin
  .nc    { color: $yellow; font-weight: bold } // Name.Class
  .no    { color: $yellow } // Name.Constant
  .ni    { color: $red } // Name.Entity
  .ne    { color: $red; font-weight: bold } // Name.Exception
  .nf    { color: $red; font-weight: bold } // Name.Function
  .nt    { color: $green } // Name.Tag
  .nv    { color: $yellow } // Name.Variable
  .ow    { color: $blue } // Operator.Word
  .w     { color: $grey-3 } // Text.Whitespace
  .mf    { color: $orange } // Literal.Number.Float
  .mh    { color: $orange } // Literal.Number.Hex
  .mi    { color: $orange } // Literal.Number.Integer
  .mo    { color: $orange } // Literal.Number.Oct
  .sb    { color: $green } // Literal.String.Backtick
  .sc    { color: $green } // Literal.String.Char
  .sd    { color: $green } // Literal.String.Doc
  .s2    { color: $green } // Literal.String.Double
  .se    { color: $green } // Literal.String.Escape
  .sh    { color: $green } // Literal.String.Heredoc
  .si    { color: $green } // Literal.String.Interpol
  .sx    { color: $green } // Literal.String.Other
  .sr    { color: $blue } // Literal.String.Regex
  .s1    { color: $green } // Literal.String.Single
  .ss    { color: $blue } // Literal.String.Symbol
  .bp    { color: $orange } // Name.Builtin.Pseudo
  .vc    { color: $yellow } // Name.Variable.Class
  .vg    { color: $yellow } // Name.Variable.Global
  .vi    { color: $yellow } // Name.Variable.Instance
  .il    { color: $orange } // Literal.Number.Integer.Long
}
