body {
	margin: 0;
	background-color: #335;
	font-family: "Bubbler One", sans-serif;
	color: white;
}

.header {
	background-color: #113;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-titles {
	text-align: center;
}

.header-title {
	font-size: 40px;
}

.header-subtitle {
	font-size: 20px;
}
