body {
	margin: 0;
	background-color: #335;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

.heading {
	font-family: 'Dosis', sans-serif;
}

.monospace {
	font-family: 'PT Mono', sans-serif;
}

.header {
	background-color: #113;
	padding-top: 32px;
	padding-bottom: 32px;
}

.header-titles {
	text-align: center;
}

.header-title {
	font-family: 'Bubbler One', sans-serif;
	font-size: 48px;
}

.header-subtitle {
	font-size: 26px;
}

.section-title {
	background-color: #113;
	font-size: 24px;
}
