body {
    margin: 0;
    background-color: #113;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    transition: background-color 400ms, color 400ms;
}

.heading {
    font-family: 'Dosis', sans-serif;
}

.monospace {
    font-family: 'PT Mono', sans-serif;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-titles {
    text-align: center;
}

.header-title {
    font-family: 'Bubbler One', sans-serif;
    font-size: 38pt;
}

.header-subtitle {
    font-size: 22pt;
}

.header-body {
    width: 357px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -0.4em;
}

.header-body > .author-tag {
    margin-left: 8em;
    font-style: italic;
}

.section-title {
    text-align: center;
    font-size: 20pt;
}

.section-body {
    background-color: #335;
    overflow-x: hidden;
    overflow-y: auto;
    transition: background-color 400ms;
}
