body {
    margin: 0;
    background-color: #282a2e;
    font-family: 'Titillium Web', sans-serif;
    color: #81a2be;
    -webkit-transition: background-color 400ms, color 400ms;
    transition: background-color 400ms, color 400ms;
}

a {
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}

.heading {
    font-family: 'Dosis', sans-serif;
}

.monospace {
    font-family: 'PT Mono', sans-serif;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-titles {
    text-align: center;
}

.header-title {
    font-family: 'Bubbler One', sans-serif;
    font-size: 38pt;
    color: #b5bd68;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}

.header-subtitle {
    font-size: 22pt;
    color: #f0c674;
    -webkit-transition: color 400ms;
    transition: color 400ms;
}

.header-body {
    width: 357px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -0.4em;
}

.header-body > .author-tag {
    margin-left: 8em;
    font-style: italic;
}

.section-title {
    text-align: center;
    font-size: 20pt;
    color: #a3685a;
    cursor: pointer;
}

.section-body-wrapper {
    background-color: #373b41;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms;
}

.section-body {
    width: 800px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-me {
    text-align: center;
}

.repo-button,
.social-button,
.email-button {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #b5bd68;
    color: #373b41;
    -webkit-transition: background-color 400ms, color 400ms;
    transition: background-color 400ms, color 400ms;
}
