---
title: Blog
categories:
  - toplevel
permalink: /blog/
---
<div class="project-list">
  {% assign pages = site.pages | sort: "name" %}
  {% for other_page in pages %}
    {% if other_page.categories contains "blog" %}
      <a class="project-list-item{% if other_page.imageurl %}{% else %} project-list-item--no-image{% endif %}" href="{{ other_page.url | prepend: site.baseurl }}">
        {% if other_page.imageurl %}
          <img class="no-border" src="{{ other_page.imageurl }}" alt="{{ other_page.title }}">
        {% else %}
          <h3>{{ other_page.title }}</h3>
        {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</div>
