<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="spinner" class="spinner-outer animation-scene--is-reversed">
      <div class="spinner-inner animated animated--fade-in-slide-in-left">
        <div class="sk-spinner sk-spinner-wave">
          <div class="sk-rect1"></div>
          <div class="sk-rect2"></div>
          <div class="sk-rect3"></div>
          <div class="sk-rect4"></div>
          <div class="sk-rect5"></div>
        </div>
      </div>
    </div>

    <div id="main" class="animation-scene">

      {% include header.html %}

      <div class="page-content animated animated--slow-fade-in-background-colour">
        <div class="wrapper animated animated--fade-in-slide-in-left">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

    </div>

  </body>

</html>
